<!--{foreach from=$game_hot item=game}-->
<div class="g_link clearfix">
    <a href="game.php?action=server_list&game_id=<!--{$game.game_id}-->"><img src="uploads/<!--{$game.game_logo4}-->" class="fl"></a>
    <p class="fl">
        <a target="_blank" title="進入遊戲" href="game.php?action=server_list&game_id=<!--{$game.game_id}-->">進入遊戲</a>
        <a target="_blank" title="購買代幣" href="pay.php?game_id=<!--{$game.game_id}-->">購買代幣</a>
        <a title="領取禮包" href="card.php?game_id=<!--{$game.game_id}-->">領取禮包</a>
        <a title="進入遊戲" href="game.php?action=server_list&game_id=<!--{$game.game_id}-->" class="l4"><span>進入遊戲</span></a>
    </p>
</div>
<div class="g_intro clearfix">
    <p><!--{$game.game_depict}--></p>
</div>
<div class="g_snap">
    <h5><strong>遊戲截圖</strong></h5>
    <ul>
        <li>
            <img src="uploads/<!--{$game.game_logo6}-->">
        </li>
         <li>
            <img src="uploads/<!--{$game.game_logo7}-->">
        </li>
        <li>
            <img src="uploads/<!--{$game.game_logo8}-->">
        </li>
        <li>
            <img src="uploads/<!--{$game.game_logo9}-->">
        </li>
    </ul>
</div>
<!--{/foreach}-->
