<!--{foreach from=$game_new item=game}-->
<div class="zxkf_div"><img class="fl" src="uploads/<!--{$game.server_logo}-->">
  <p class="fl"><a class="btn_green" title="進入遊戲" href="game.php?action=server_list&game_id=<!--{$game.game_id}-->">進入遊戲</a>
  <a class="btn_gray" title="領取禮包" href="card.php?game_id=<!--{$game.game_id}-->">領取禮包</a></p>
</div>
<div class="intro"><strong><!--{$game.server_name}--> <!--{$game.server_trunon_date}--> <!--{$game.server_trunon_hour}-->點</strong>
<p><!--{$game.server_depict}--></p>
</div>
<!--{/foreach}-->
